{
    "extends": "airbnb-base",
    "plugins": [
        "import"
    ],
    "rules": {
        "no-console": "off",
        "no-plusplus": "off",
        "no-iterator": "off",
        "indent": ["error", 4],
        "no-param-reassign": "off",
        'no-restricted-syntax': ['error', {
                selector: 'LabeledStatement',
                message: 'Labels are a form of GOTO; using them makes code confusing and hard to maintain and understand.',
            }, {
                selector: 'WithStatement',
                message: '`with` is disallowed in strict mode because it makes code impossible to predict and optimize.',
            }
        ]
    }
}
